# Dependencies
node_modules

# Logs
*.log*
logs
pnpm-debug.log*

# Temp directories
.temp
.tmp
.cache
cache

# Vite
.vite

# Nx
.nx

# Generated dirs
dist

# Nuxt
.nuxt
.output
.data
.vercel_build_output
.build-*
.netlify

# Env
.env
.envrc
*.local

# Testing
reports
coverage
*.lcov
.nyc_output

# Intellij idea
*.iml
.idea
