name: ESLint

on:
  push:
    branches:
      - main

permissions:
  contents: read
  security-events: write

jobs:
  eslint:
    name: Run eslint scanning
    runs-on: ubuntu-latest
    env:
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ vars.TURBO_TEAM }}
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Setup node and pnpm
        uses: ./.github/actions/setup-node-pnpm

      - name: Run eslint
        run: pnpm turbo lint:sarif

      - name: Upload eslint results
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          name: eslint-results
          path: packages/*/eslint.sarif

  codeql:
    needs: eslint
    name: Upload to CodeQL
    runs-on: ubuntu-latest
    strategy:
      matrix:
        package:
          - nuxt-module
          - nuxt-playground
          - vue-playground
          - vue-plugin
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Download eslint results
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7
        with:
          name: eslint-results
          path: packages

      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@b20883b0cd1f46c72ae0ba6d1090936928f9fa30 # v4
        with:
          category: ${{ matrix.package }}
          sarif_file: packages/${{ matrix.package }}/eslint.sarif
