name: Publish

on:
  release:
    types:
      - published

jobs:
  publish:
    if: ${{ startsWith(github.ref, 'refs/tags/prosemirror-render-nuxt-v') || startsWith(github.ref, 'refs/tags/prosemirror-render-vue-v') }}
    name: Publish
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    env:
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ vars.TURBO_TEAM }}
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Setup node and pnpm
        uses: ./.github/actions/setup-node-pnpm

      - name: Build
        run: pnpm build

      - name: Publish
        run: pnpm publish --recursive --no-git-checks --provenance
